*{
				margin:0px auto;
				text-align:center;
			}
			body{
				background:url(123.jpg);
				background-size:100% auto;
				cursor:default;
			}
			#box{
				width:650px;
				height:320px;
				background-color:#00000050;
				margin-top:250px;
				cursor:url(3.png),auto;
			}
			#box>h1{
				font-family:"arial narrow";
				line-height:90px;
				color:#ffffff;
			}
			#box>div>input{
				width:300px;
				height:30px;
				background-color:#ffffff00;
				border:0px;
				border-bottom:3px #fff solid;
				margin-bottom: 17px;
				outline: none;
				text-align:initial;
				font-size:20px;
				cursor:default;
				color:#fff;
				padding:5px 10px;
			}	
			#box>div>input::-webkit-input-placeholder{
				color:#FFFFFF;
			}			
		    #box>div>img{
				margin-bottom:-5px;
				margin-right:10px;
			}
					
			#box>div:last-child{
				width:300px;
				height:35px;
				background-color:#FFFFFF;
				border-radius:17px;
				margin-top:10px;
				line-height:32px;
				background-image:linear-gradient(to right,#db3125 0%,#578bc3 100%);
				color:#fff;
				font-family: "arial narrow";
			}
			#box>div:last-child:active{
				background-image:linear-gradient(to left,#db3125 0%,#578bc3 100%);
			}